h2 {
    font-size: 80px;
    font-weight: 400;
    width: 794px;
    align-self: center;
}
main {
    display: flex;
    flex-direction: column;
    width: 794px;/*979px;*/
    margin: auto;
    gap: 16px;
    padding: 64px 0;
}
main > img {
    align-self: center;
}
main > a {
    margin-left: 0px;
}
